# Assignment on Store_sales dataset

**Load the Dataset**

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('store_sales.csv')
df.head()

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
0,S_1,Texas,8,20,13,21,17,20,24,17,16,9,7,6
1,S_2,California,12,19,15,15,11,19,7,15,10,11,21,19
2,S_3,California,16,16,14,19,23,6,13,13,15,14,24,8
3,S_4,Texas,8,18,13,10,14,14,6,8,8,18,7,11
4,S_5,Texas,19,5,24,9,5,24,10,5,24,15,6,13

**Calculate the total sales for each store across all months.**

In [20]:
for i in range(len(df)):
    print(f"s_{i+1} - {df.iloc[i,2:14].sum()}")

s_1 - 178
s_2 - 174
s_3 - 181
s_4 - 135
s_5 - 159
s_6 - 176
s_7 - 184
s_8 - 170
s_9 - 168
s_10 - 178
s_11 - 196
s_12 - 164
s_13 - 188
s_14 - 150
s_15 - 173
s_16 - 167
s_17 - 189
s_18 - 195
s_19 - 161
s_20 - 196
s_21 - 149
s_22 - 146
s_23 - 182
s_24 - 183
s_25 - 165
s_26 - 149
s_27 - 179
s_28 - 191
s_29 - 146
s_30 - 180
s_31 - 184
s_32 - 190
s_33 - 176
s_34 - 183
s_35 - 168
s_36 - 160
s_37 - 143
s_38 - 207
s_39 - 198
s_40 - 204
s_41 - 174
s_42 - 154
s_43 - 153
s_44 - 139
s_45 - 176
s_46 - 180
s_47 - 189
s_48 - 130
s_49 - 177
s_50 - 169
s_51 - 210
s_52 - 170
s_53 - 182
s_54 - 172
s_55 - 158
s_56 - 170
s_57 - 162
s_58 - 141
s_59 - 158
s_60 - 167
s_61 - 185
s_62 - 214
s_63 - 175
s_64 - 172
s_65 - 179
s_66 - 181
s_67 - 151
s_68 - 177
s_69 - 196
s_70 - 206
s_71 - 163
s_72 - 151
s_73 - 213
s_74 - 189
s_75 - 178
s_76 - 183
s_77 - 171
s_78 - 211
s_79 - 187
s_80 - 200
s_81 - 176
s_82 - 151
s_83 - 161
s_84 - 172
s_85 - 159
s_86 - 214
s_87 - 203
s_88 - 168
s_89 - 143
s_90 - 163
s_91 - 132
s_92 - 185
s_93 - 204
s_94 - 167
s_95 - 176
s_96 - 185
s_97 - 154
s_98 - 168
s_99 - 173
s_100 - 180

In [24]:
df.sum(numeric_only=True,axis=1)

0     178
1     174
2     181
3     135
4     159
     ...
95    185
96    154
97    168
98    173
99    180
Length: 100, dtype: int64

In [14]:
df.groupby('store_id')[['Jan','Feb','Mar','Apr','May','Jun','July','Aug','Sep','Oct','Nov','Dec']].sum()

          Jan  Feb  Mar  Apr  May  Jun  July  Aug  Sep  Oct  Nov  Dec
store_id
S_1         8   20   13   21   17   20    24   17   16    9    7    6
S_10       14   23   20   11   12   13    19    6    5   22   17   16
S_100       5   23   17   24   15   21    19   10   12   20    5    9
S_11       15   24    8   15   24   21     6   21   20   13   14   15
S_12        6   18   21    8    5    8    11    9   21   17   18   22
...       ...  ...  ...  ...  ...  ...   ...  ...  ...  ...  ...  ...
S_95       10   22   13   20    5    5     9   15   23   23   24    7
S_96        7   10   20   20   10   15    15   21   15    7   23   22
S_97       13    6    7   15   22   10    21   23   10    6   12    9
S_98       16    9    6   14   20   13    11   10    8   22   17   22
S_99       18   16    9    5   12   22    11   13   21   17   19   10

[100 rows x 12 columns]

In [10]:
df.value_counts()

store_id  city        Jan  Feb  Mar  Apr  May  Jun  July  Aug  Sep  Oct  Nov  Dec
S_1       Texas       8    20   13   21   17   20   24    17   16   9    7    6      1
S_66      Arizona     13   23   5    19   14   9    18    20   16   16   23   5      1
S_75      Texas       22   10   19   13   23   15   20    13   6    9    21   7      1
S_74      California  20   17   14   5    22   9    18    24   11   10   20   19     1
S_73      California  20   24   24   18   7    22   12    21   20   18   21   6      1
                                                                                    ..
S_36      Texas       22   24   10   9    23   8    6     10   9    12   7    20     1
S_35      California  10   7    24   15   12   24   12    17   10   14   5    18     1
S_34      Arizona     23   11   9    17   15   6    22    11   19   21   21   8      1
S_33      Texas       16   22   7    18   7    7    21    23   20   6    10   19     1
S_99      Arizona     18   16   9    5    12   22   11    13   21   17   19   10     1
Name: count, Length: 100, dtype: int64

**Find the average sales for each month across all stores**

In [25]:
df.mean(numeric_only=True,axis=1)

0     14.833333
1     14.500000
2     15.083333
3     11.250000
4     13.250000
        ...
95    15.416667
96    12.833333
97    14.000000
98    14.416667
99    15.000000
Length: 100, dtype: float64

**Identify the store with the highest total sales.**

In [26]:
df.loc[df.sum(numeric_only=True,axis=1)==max(df.sum(numeric_only=True,axis=1))]

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
61,S_62,California,16,21,6,22,22,9,21,21,22,17,16,21
85,S_86,California,15,23,24,18,21,17,23,13,12,11,24,13

**Calculate the total sales for each city.**

**List stores with total sales greater than 200**

**Which month had the highest average sales across all stores?**

**Which city generated the most revenue?**