# Assignment on Store_sales dataset

**Load the Dataset**

In [5]:
import pandas as pd

In [7]:
df=pd.read_csv('store_sales.csv')
df.head()

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
0,S_1,Texas,8,20,13,21,17,20,24,17,16,9,7,6
1,S_2,California,12,19,15,15,11,19,7,15,10,11,21,19
2,S_3,California,16,16,14,19,23,6,13,13,15,14,24,8
3,S_4,Texas,8,18,13,10,14,14,6,8,8,18,7,11
4,S_5,Texas,19,5,24,9,5,24,10,5,24,15,6,13

**Calculate the total sales for each store across all months.**

In [10]:
# for i in range(len(df)):
#     print(f"s_{i+1} - {df.iloc[i,2:].sum()}")

In [26]:
total_sales=df.sum(numeric_only=True,axis=1)
total_sales

0     178
1     174
2     181
3     135
4     159
     ...
95    185
96    154
97    168
98    173
99    180
Length: 100, dtype: int64

**Find the average sales for each month across all stores**

In [56]:
df.mean(numeric_only=True,axis=0)
# df.sum(numeric_only=True,axis=0)

Jan     14.46
Feb     15.09
Mar     14.56
Apr     14.57
May     13.56
Jun     13.80
July    14.38
Aug     15.81
Sep     14.91
Oct     14.10
Nov     15.31
Dec     13.57
dtype: float64

**Identify the store with the highest total sales.**

In [26]:
df.loc[df.sum(numeric_only=True,axis=1)==max(df.sum(numeric_only=True,axis=1))]

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
61,S_62,California,16,21,6,22,22,9,21,21,22,17,16,21
85,S_86,California,15,23,24,18,21,17,23,13,12,11,24,13

In [28]:
df.iloc[total_sales.idxmax(),0]

'S_62'

**Calculate the total sales for each city.**

In [38]:
sales_by_city=df.groupby('city').sum()
sales_by_city.sum(numeric_only=True,axis=1)

city
Arizona       3951
California    7522
Texas         5939
dtype: int64

**List stores with total sales greater than 200**

In [40]:
df.loc[total_sales>200]

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
37,S_38,California,21,10,13,11,11,14,24,24,24,21,16,18
39,S_40,Texas,22,21,13,13,14,15,6,24,16,23,13,24
50,S_51,Arizona,17,23,14,19,23,12,20,21,13,18,6,24
61,S_62,California,16,21,6,22,22,9,21,21,22,17,16,21
69,S_70,Texas,24,16,24,20,14,21,15,13,18,22,10,9
72,S_73,California,20,24,24,18,7,22,12,21,20,18,21,6
77,S_78,Arizona,19,23,19,24,13,12,24,17,22,16,17,5
85,S_86,California,15,23,24,18,21,17,23,13,12,11,24,13
86,S_87,Texas,19,20,10,13,12,5,20,23,21,14,24,22
92,S_93,California,20,13,15,12,15,19,21,22,10,21,23,13

**Which month had the highest average sales across all stores?**

In [50]:
df.iloc[:,2:].mean(axis=0).idxmax()

'Aug'

**Which city generated the most revenue?**

In [58]:
sales_by_city.sum(numeric_only=True,axis=1).idxmax()

'California'